.l {
    display: grid;
    width: 50%;
}
.l h1 {
    font-size: 16px;
    border-bottom: 1px solid;
    width: 50%;
}
.l a {
    padding: 10px 0px;
}
.r h1 {
    font-size: 16px;
    border-bottom: 1px solid;
    width: 50%;
}
.r a {
    padding: 10px 0px;
}
.r {
    display: grid;
    width: 50%;
}
.linkswidth {
    display: flex;
    width: 90%;
    justify-content: center;
    margin: auto;
}
@media (max-width:720px) {
    .linkswidth {
        display: block;
        width: 90%;
        justify-content: center;
        margin: auto;
    }
    .l h1 {
        font-size: 16px;
        border-bottom: 1px solid;
        width: 90%;
    }
    .r h1 {
        font-size: 16px;
        border-bottom: 1px solid;
        width: 90%;
    }
}