@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* Home */
/* body, html {
 font-family: 'Poppins', sans-serif;
 box-sizing: border-box;
 padding: 0px;
 margin: 0px;
 margin: auto;
} */
/* .wrap {
 width: 90%;
 margin: auto;
}
.navbar-light .navbar-brand {
 color: rgba(0,0,0,.9);
 font-weight: 700;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
 color: rgba(0,0,0,.9);
 font-weight: 700;
} */
.avatar {
 max-width: 30%;
 margin: auto;
 display: block;
 border-radius: 50%;
}
@media (max-width:768px) {
  .avatar {
   max-width: 100%;
   margin: auto;
   display: block;
   border-radius: 50%;
  }
}
.text-about p {
 max-width: 500px;
 margin: auto;
 text-align: center;
}
h6 {
 text-align: center;
 letter-spacing: 10px;
}

h5 {
 text-align: center;
 font-size: 16px;
 color: burlywood;
}
i {
 color: darkgoldenrod;
}
@media (max-width:768px) {
  .navbar-nav {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-direction: column;
   flex-direction: column;
   padding-left: 0;
   margin-bottom: 0;
   list-style: none;
   text-align: center;
  }
}
/* Home End*/
/* Project*/

/* Search */

.fa-search {
 position: absolute;
 margin: 14px -30px;
}
.search-container {
 width: 100%;
 margin: 0 auto;
}
input#search-bar {
 margin: 0 auto;
 width: 100%;
 height: 45px;
 padding: 0 20px;
 font-size: 1rem;
 border: 1px solid #D0CFCE;
 outline: none;
}
input#search-bar:focus {
 border: 1px solid #008ABF;
 transition: 0.35s ease;
 color: #008ABF;
}
input#search-bar:focus::-webkit-input-placeholder {
 transition: opacity 0.45s ease;
 opacity: 0;
}
input#search-bar:focus::-moz-placeholder {
 transition: opacity 0.45s ease;
 opacity: 0;
}
input#search-bar:focus:-ms-placeholder {
 transition: opacity 0.45s ease;
 opacity: 0;
}
.search-icon {
 position: relative;
 float: right;
 width: 75px;
 height: 75px;
 top: -62px;
 right: -45px;
}


/* Search End */




/* Project End*/

/* Home */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
body {
 /* background: #254C50; */
 background: #fff;
 font-family: 'Poppins', sans-serif;
 color: black!important;
}
.wrap {
 width: 90%;
 margin: auto;
}
hr {
 margin-top: -10px;
 margin-bottom: 1rem;
 border: 0;
 border-top: 1px solid var(--yellow);
}
.navbar-light .navbar-brand {
 color: black!important;
 font-weight: bolder;
 height: 110px;
 text-transform: uppercase;
 letter-spacing: 2px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
 color: black!important;
 height: 100px;
 padding: 4px;
 position: relative;
 top: 5px;
}
/*Nav Home Active Desative */
.navbar-light .navbar-nav >.nav-link, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    /* color: rgb(207, 21, 21)!important; */
    color: rgba(212, 211, 211, 0.5);
    height: 100px;
    padding: 4px;
    position: relative;
    top: 5px;
   }
   @media(max-width:768px) {
    .navbar-light .navbar-nav >.nav-link, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
     color: black!important;
     height: 40px;
     padding: 0px;
     position: relative;
     top: 5px;
    }
}
/* Nav Home Active Desative End */
@media(max-width:768px) {
    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
     color:black!important;
     
     height: 40px;
     padding: 0px;
     position: relative;
     top: 5px;
    }
}
.navbar-light .navbar-nav .nav-link {
 color: rgb(0, 0, 0);
 margin: 0px 20px;
}
.navbar-light .navbar-toggler {
 color: rgba(0, 0, 0, 0.993);
 border-color: rgb(0 0 0 / 8%);
 position: absolute;
 top: 0;
 right: 0;
 background: #ffc0cb52;
 box-shadow: 10px 10px var(--purple);
}

/* NAV-EFFECT */
.masthead {
 margin-bottom: 2rem;
}
.masthead-brand {
 margin-bottom: 0;
}
.nav-masthead .nav-link {
 padding: .5rem 0;
 font-weight: 700;
 color: rgb(0, 0, 0);
 background-color: transparent;
 border-bottom: .1rem solid transparent;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
 border-bottom-color: rgb(0, 0, 0);
}
.nav-masthead .nav-link+.nav-link {
 margin-left: 1rem;
}
.nav-masthead .active {
 color: rgb(0, 0, 0);
 border-bottom-color: rgb(0, 0, 0);
}
@media (max-width:768px) {
  .nav-masthead .active {
   color: #fff;
   border-bottom-color: rgb(0, 0, 0);
  }
}
.avatar {
 max-width: 20%;
 margin: auto;
 display: block;
 border-radius: 50%;
}
 @media (max-width:768px) {
  .avatar {
   max-width: 100%;
   margin: auto;
   display: block;
   border-radius: 50%;
  }
 }
.text-about p {
 max-width: 500px;
 margin: auto;
 text-align: center;
}
h6 {
 text-align: center;
 letter-spacing: 10px;
}
h5 {
 text-align: center;
 font-size: 16px;
 color: burlywood;
}
i {
 color: darkgoldenrod;
}
 @media (max-width:768px) {
   .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
   }
 }
/* Home End */






/* Photos */
.grid {
 width: 100%;
 justify-content: center;
 display: flex;
 flex-flow: wrap;
}
.item img {
 max-width: 222px;
 flex-basis: 20%;
 margin: 10px 10px 10px 10px;
}
#photos {
 opacity: .88;
} 
#photos img {
 width: 30%;
 float: left;
 display: block;
 margin: 2px;
} 
  @media(max-width:768px) {
     #photos img {
      width: 100%;
      float: left;
      display: block;
      margin: 2px;
     }
   }
ul {
 list-style: none;
 margin: 0px;
 padding: 0px;
 max-width: 780px; 
} 
#overlay {
 background: rgba(0,0,0, .8);
 width: 100%;
 height: 100%;
 position: fixed;
 top: 0;
 left: 0;
 display: none;
 text-align: center;
}
#overlay img {
 margin: 10% auto 0;
 width: 550px;
 border-radius: 5px;
}
 @media (max-width:768px) {
   #overlay img {
    margin: 10% auto 0;
    border-radius: 5px;
    width: 90%;
   }
 } 
#photos {
 width: 100%;
} 
#photo-gallery {
 width: 100%;
 margin: auto;
}
 
/* Photos End */

/* Import Logo Settings CSS */
.logo {
  max-width: 150px;
}
.import_titile {
  text-align: center;
  width: 90%;
  margin: auto;
  border: 1px solid #6c757d47;
}
.import_titile h1 {
  font-size: 16px;
}
.import_titile h2 {
  font-size: 16px;
  font-weight: 900;
}
.telas {
  max-width: 200px;
}


.import__title span {
    text-transform: uppercase;
    border-bottom: 2px solid;
    font-weight: bold;
}
.info__ {

}
.cart {
  color: white;
  background: var(--primary);
  padding: 10px;
} 
.info__ h1 {
  font-size: 16px;
  font-weight: revert;
}
.import__sales{
  width: 90%;
  margin: auto;
}
.import__card {
  text-decoration: none;
  max-width: 222px;
  border: 1px solid #a7a1a1;
  padding: 10px;
  border-radius: 5px;
}
.import__card:hover {
opacity: 50%;
text-decoration: none;

}
.import__card a:hover {
  text-decoration: none;
}
.import__card h1 {
  color: black;
 font-size: 16px;
 font-weight: 900;
}
.import__card h2 {
  color: black;
font-size: 16px;
font-weight: 400;
}
.import__card h3 {
  color: black;
font-size: 20px;
font-weight: 800;
}
.cart:hover {
  color: white!important;
}
.copy {
  text-align: center;
}
.icons__ {
  color: black!important;
  text-align: center;
  word-spacing: 16px;
  font-size: 40px;
}
.icons__ i {
  color: black;
}
.icons__ i:hover {
  color: rgb(214, 31, 132);
}
.container__social h1 {
  font-size: 16px;
  text-align: center;
  

  margin: auto;
  font-weight: revert;
  color: var(--gray);
}
.container__social strong {
  border-bottom: 1px solid #dc35b86e;
}
.fa-shopping-cart {
  font-weight: 900;
    text-shadow: 0px 1px 8px var(--white);
    color: var(--white);
}
.fa-cat {
  color:  #a9adb1;
}
.fa-truck {
  color: #a7a1a1;
}